.navbar {
  background: linear-gradient(40deg, rgba(0, 0, 0, 0.3), rgba(84, 1, 139, 0.3));
}
.navbar:not(.top-nav-collapse) {
  background: transparent;
}
.navbar .navbar-brand img {
  height: 40px;
  margin: 10px;
}
.hm-gradient {
  background: linear-gradient(40deg, rgba(0, 0, 0, 0.3), rgba(84, 1, 139, 0.3));
}
.heading {
  margin: 0 6rem;
  font-weight: 600;
  color: rgba(230, 41, 145, 0.589);
}
.subheading {
  margin: 2.5rem 6rem;
  color: #e0d4e4;
}
.btn.btn-margin {
  margin-left: 6rem;
  margin-top: 1rem;
}
.btn.btn-lily {
  background: linear-gradient(40deg, rgba(0, 0, 0, 0.3), rgba(84, 1, 139, 0.3));
}
.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #5d4267;
}
.subtitle {
  color: #e0d4e4;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}
.wow{
  color: rgb(255, 255, 255); 
  margin-top: 10%;
  /* A PRUEBA ESTE FONDO*/
  /* background: #5C258D;  
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  
background: linear-gradient(to right, #4389A2, #5C258D);  */
}
.bienvenidos{
  background-color: #202020;
}

body{
  background-color: #111111
}

.bienvenidos{
  background: #1d2233;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #637075, #1d2233);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #637075, #1d2233); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
#eventos{
  background: #800a7a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #800a7a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #800a7a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 2rem;
   
   
}